.player
    grid-area: player;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    width: auto;
    grid-template: 40px 50px 75px 65px / 190px 1fr;
    grid-template-areas: 
        "player__item-portada player__title"\
        "player__item-portada player__item-detail"\
        "player__item-portada player__progress-detail"\
        "player__item-portada player__buttons";

    +responsive(desktop-l)
        padding-left: 80px;
        padding-right: 80px;
                    
    +responsive(tablet-l-only) 
        grid-template: 40px 50px 45px 65px / 250px 1fr;
        grid-template-areas: 
            "player__item-portada player__title"\
            "player__item-portada player__item-detail"\
            "player__item-portada player__progress-detail"\
            "player__item-portada player__buttons";

    +responsive(mobile-only)
        grid-template: 180px 35px 40px 45px 65px / 1fr;
        grid-template-areas: 
            "player__item-portada"\
            "player__title"\
            "player__item-detail"\
            "player__progress-detail"\
            "player__buttons";
       
    &__item-portada
        display: flex;
        grid-area: player__item-portada;
        object-fit: cover;
        border-radius: 10px;
        width: 150px;
        height: 150px;
        margin: 0px 0px 80px 0px;
        box-shadow: 8px 16px 32px 0px shadow;
        +responsive(tablet-l-only) 
            width: 220px;
            height: 220px;
        
        +responsive(mobile-only)
            margin: auto;
        
    &__title
        +responsive(mobile-only)
            text-align: center;
        
    &__item-detail,&__progress-detail
        font-family: font-secondary;
        color: color-gris;
        font-size: 13px;
        +responsive(mobile-only)
            text-align: center;

    &__date
        margin: 6px 0px;
        font-size: 12px;
    

    &__progress
        margin: 30px 0px;
        appearance: none;
        color: color-tercero;
        border-radius: 50px;
        height: 3px;
        width: 100%;
        +responsive(tablet-l-only) 
            margin: 15px 0px;
        
        +responsive(mobile-only)
            margin: 10px 0px;

    &__progress-detail p
        text-align: end;
    

    progress[value]::-webkit-progress-bar 
        background-color: color-borde;
        border-radius: 50px;
        border: none;
        color:color-tercero;
      
      
    progress::-webkit-progress-value 
        background-color: color-tercero;
        border-radius: 50px;
      
      
    &__buttons
        display: flex;
        justify-content: space-between;
        align-items: center;
        +responsive(mobile-only)
            justify-content:space-around;
        
    &__buttons-play
        background: center no-repeat url(../img/play.png);
        background-color: color-tercero;
        border-radius: 50%;
        border: none;
        height: 60px;
        width: 60px;
        outline: none;
        cursor: pointer;
    
    &__buttons-play:hover
        background-color: color-secundario;
    
    &__buttons-back
        background: url(../img/ant.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border : none;
        width: 30px;
        height: 30px;
        outline: none;
        cursor: pointer;
        
    &__buttons-next
        background:url(../img/prox.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border : none;
        width: 30px;
        height: 30px;
        outline: none;
        cursor: pointer;
       
    &__buttons-next:hover,
    &__buttons-mark:hover,
    &__buttons-back:hover
        border: 2px solid color-tercero;    
        border-radius: 5px;
    
    &__buttons-mark
        background:  center / contain url(../img/marcador.png);
        border : none;
        width: 20px;
        height: 20px;
        cursor: pointer;